header{
    margin-bottom: 50px;
}

.left-side{
    position: fixed;

}

.inline-block{
    display: inline-block;
    margin-top: 10px;
}

.content>div{
    margin-top: 75px;
}

.margin-right{
    margin-right: 5px;
}

.input-group{
    margin-top: 5px;
    width: 100%;
}

.input-group-addon{
    width: 40px;
}

#editUserDetails{
    width: 100%;
}