.top-div {
    margin-top: 6%;
}

a.listing-link {
    text-decoration: none;
    color: #333;
}

.box {
    transition: all 0.3s ease-in-out;
}

.box::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.1, 1.1);
}

.box:hover::after {
    opacity: 1;
}

.listing-wrapper {
    width: 80%;
    border: 1px solid #939191;;
    border-radius: 2%;
    padding: 1%;
}

a.carousel-control.left {
    top: 40%;
    background: none;
}

a.carousel-control.right {
    top: 40%;
    background: none;
}

.title-style {
    background-color: #fce99c;
    line-height: 350%;
    padding: 0 3% 0 4%;
    width: 100%;
    white-space: nowrap;
    font-size: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-style {
    margin: 0 0 5% 23%;
    line-height: 35%;
    width: 34%;
    padding: 4% 0 5% 0;
    border: 0.1em solid #939191;
    border-radius: 5%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    font-size: 100%;
}

img.img-responsive.center-block {
    height: 150px;
    width: auto;
}

i.fa {
    color: #333;
}