<form action="" method="POST" onsubmit="return false;" enctype="multipart/form-data">
    <input name="name" value="" placeholder="name"/><br/>
    <input name="surname" value="" placeholder="surname"/><br/>
    <input type="text" name="birthDate" value="" placeholder="birthDate"/><br/>
    <input type="email" name="email" value="" placeholder="email"/><br/>
    <input name="username" value="" placeholder="username"/><br/>
    <input name="password" value="" placeholder="password"/><br/>
    <input type="file" file-model="image" name="file"/>
    <input type="submit">
</form>