<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <h4>Корисникот <strong>{{report.userFrom.username}}</strong>, на датум <strong>{{report.submittedOn}}</strong> го пријави огласот десно.  Во прилог е неговата поплака: </h4>
            <div class="well">
                <h4>{{report.content | to_trusted}}</h4>
            </div>

            <div class = "row">
                <div class = "col-md-4">
                    <button data-ng-click="deleteListing(report.listing.id);" class = "btn btn-danger btn-block"><i class="fa fa-trash"></i> Избриши го огласот</button>
                </div>
                <div class = "col-md-4">
                    <button data-ng-click="viewListing(report.listing.id);" class = "btn btn-primary btn-block"><i class="fa fa-eye"></i> Види го целосно</button>
                </div>
            </div>
        </div>

        <div class = "col-md-6 bg-danger">
            <h1>{{report.listing.title}}</h1>
            <hr />
            <p><i class = "fa fa-user"></i> {{report.listing.user.username}}&nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o"></i> {{report.listing.createdOn}}</p>
            <img class = "img img-responsive" data-ng-src = "{{serverURL + report.listing.imageURLs[0]}}" />
            <h4>{{report.listing.content | to_trusted}}</h4>
        </div>
    </div>
</div>